{
  "printWidth": 100,
  "arrowParens": "avoid",
  "importOrder": ["^ws$", "^@/(.*?)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true
}
