{
  "printWidth": 100,
  "arrowParens": "avoid",
  "importOrder": [
    "^uWebSockets.js|@/server$",
    "^@/tests/(.*?)$",
    "^@/messages/?(.*?)$",
    "^@/(.*?)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true
}
